<mat-accordion *ngIf="Notas.length > 0">
    <mat-expansion-panel *ngFor="let notas of notas">
        <mat-expansion-panel-header>
            <p>Titulo: {{ notas.titulo}}</p>
        </mat-expansion-panel-header>
            <p>Author: {{ notas.descricao}}</p>
            <p>Número de Páginas: {{ notas.data }}</p>
            <mat-action-row>
                <button mat-button color='primary'>Editar</button>
                <button mat-button color='warn'>Remover</button>
            </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>
<p class="mat-body-1" style="text-align: center;" *ngIf="Notas.length <= 0">
    Nenhuma nota cadastrada
</p>
